extends ../common

append style
  link(rel="stylesheet", href="/styles/admin/common.css")

block content
  #header.bg-dark
    .container.py-1.d-flex.justify-content-between
      a(href="/admin")
        img.logo(src="/images/shop/logo_3.png", alt="ShopOH", title="ShopOH")
      a.btn.btn-info.align-self-center(href="/adminAuth/logout", role="button") Logout
  #main.container-fluid.bg-dark
    .row
      #nav-left.col-2.bg-dark
        .nav-title Quản Lý Đơn Hàng
        a(href="/admin/order", class=active==='order'?'nav-left-active':'').nav-left-item Tất cả
        a(href="#").nav-left-item Xử lý đơn hàng loạt
        
        .nav-title Quản Lý Sản Phẩm
        a(href="/admin/product", class=active==='prolist'?'nav-left-active':'').nav-left-item Tất cả sản phẩm
        a(href="/admin/product/add", class=active==='addpro'?'nav-left-active':'').nav-left-item Thêm sản phẩm

        .nav-title Thông báo
        a(href="/admin/notification", class=active==='notification'?'nav-left-active':'').nav-left-item Quản lý thông báo
        a(href="/admin/notification/add", class=active==='addnoti'?'nav-left-active':'').nav-left-item Thêm thông báo

        .nav-title Tài chính
        a(href="#").nav-left-item Doanh thu
      #main-right.col-10.text-white
        block main

append script
  script(src="/scripts/admin/common.js")