extends ./common

block main
  div
    big Thêm thông báo mới
    form.mt-4(method="POST", name="addNotiForm")
      input(type="hidden", name="_method" value="PUT")
      .d-flex.align-items-center
        label.col-2(for="subjectNoti") Tiêu đề thông báo:
        input#subjectNoti.form-control.col.ml-2(type="text", name="subjectNoti", placeholder="Tiêu đề thông báo", required, value=notification.tieude)
      .d-flex.mt-2
        label.col-2(for="describePro") Nội dung thông báo:
        textarea#contentNoti.col.ml-2(name="contentNoti", rows="5", required)= notification.noidung
      .d-flex.mt-2.align-items-center
        span.col-2 Hình ảnh:
        .d-flex.col.ml-2.justify-content-between
          .img-pro.text-center
            .review-img(style=`background-image: url('${notification.hinhanh}'); width: 100px; height: 100px;`)
      .d-flex.mt-2
        label.col-2(for="status") Công khai:
        select#status.form-control(name="status")
          option(value="1", selected=notification.public?true:false) Mọi người
          option(value="2", selected=notification.public?false:true) Ẩn
      .text-right.my-4
        a.btn.btn-light.mr-3(href="/admin/notification", role="button") Hủy
        button#save-btn.btn.btn-success.mr-3(type="submit") Lưu