extends ./common

append style
  link(rel="stylesheet", href="/styles/admin/index.css")

block main
  .p-3
    .mt-5.mb-2 THỐNG KÊ
    .d-flex
      each statistical in orderStatistical
        a.tk-item(href=`/admin/order?status=${statistical.ma_trangthai}`)
          .text-info= statistical.tk
          .text-dark= statistical.ten_trangthai
      a.tk-item(href="/admin/product?status=2")
        .text-info= proHideStatistical.tk
        .text-dark Sản phẩm ẩn
      a.tk-item(href="/admin/product?type=het")
        .text-info= proHetStatistical.tk
        .text-dark Sản phẩm hết hàng
