extends ./common

block main
  #filter.w-100.d-flex
    form.align-items-center.flex-fill(method="GET", name="formFilter")
      .input-group
        input.form-control(type="text", name="searchNoti", placeholder="Tìm thông báo", value=searchNoti?searchNoti:"")
        .input-group-append
          button#search-btn.btn.btn-success(type="submit")
            i.fas.fa-search
    if (successMgs)
      each sMgs in successMgs
        .alert.alert-success.alert-dismissible.fade.show.mx-auto.mt-1(role='alert')
          span= sMgs
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
  h4.mt-4= `${notifications.length} thông báo`
  table.table.table-sm.text-center.text-white.mt-2
    thead
      tr
        th Hình ảnh
        th Tiêu đề
        th Nội dung
        th Ngày đăng
        th Trạng thái
        th Thao tác
      tbody
        each noti in notifications
          tr
            td
              img(src=noti.hinhanh, alt="thong bao", width="40px", height="40px")
            td= noti.tieude
            td= noti.noidung.slice(0, 70) + '...'
            td= noti.ngaydang.toLocaleDateString()
            td= noti.public?"Public":"Ẩn"
            td 
              button.del-noti-btn.btn.btn-link(type="button", data-noti=noti.ma_thongbao, data-toggle='modal', data-target='#delete-notification') Xóa
              a.edit-noti-btn.btn.btn-link(href=`/admin/notification/edit/${noti.ma_thongbao}`, role="button") Sửa
  
  #delete-notification.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content.p-2
        .modal-body
          .py-5.text-dark Xóa thiệt ha m?
          .d-flex
            button#OK-del-btn.btn.btn-primary-v2.flex-fill.mr-1(type='button') Ừ
            button.btn.btn-light.flex-fill(type='button', data-dismiss='modal') HÔNG

append script
  script(src="/scripts/admin/notification.js")