extends ./common

block style_child
  link(rel="stylesheet", href="/styles/customer/cart.css")

block main
  #main.p-3
    #main-cart-title
        h1 Giỏ hàng
        hr
    #main-cart-content
      if (cartNum.slsp > 0)
        table.table.bg-white
          thead
            tr.text-center
              th.cart-checkbox.custom-control.custom-checkbox.text-center
                //- input#select-all-product.custom-control-input(type='checkbox', name="allProduct", checked)
                //- label.custom-control-label(for='select-all-product')
              th.text-left Sản phẩm
              th Đơn giá
              th Số lượng
              th Số tiền
              th Thao tác
          tbody
            each product in cartProduct
              - var dataProduct = `${product.ma_sanpham}$${product.mausac}$${product.size}`;
              tr.text-center
                td.cart-checkbox.custom-control.custom-checkbox.text-center
                  input.custom-control-input(data-product=dataProduct, checked, type='checkbox', name="product", id=`select-${dataProduct}`)
                  label.custom-control-label(for=`select-${dataProduct}`)
                td.text-left.cart-name-product
                  a(href=`/product/${product.ma_sanpham}`)
                    .cart-product-img(style=`background-image: url('${product.hinhanh.split(',')[0]}')`)
                    .cart-product-content
                      div= product.ten_sanpham
                      small= `Loại: màu ${product.mausac}, size: ${product.size}`
                td
                  if (product.khuyenmai > 0)
                    del.mr-2.text-secondary= `₫${product.giaban}`
                  span
                    span ₫
                    span.cart-dongia(data-product=dataProduct)= Math.round(product.giaban * (1 - product.khuyenmai / 100))
                td
                  input.text-center.form-control(data-product=dataProduct, type="number", min="1", max=`${product.soluongton}`, value=product.soluong, name="soluong")
                td.text-danger
                  span ₫
                  span.cart-price-item(data-product=dataProduct)= product.soluong * Math.round(product.giaban * (1 - product.khuyenmai / 100))
                td
                  button.cart-delete-btn.btn.btn-link(type="button", data-product=dataProduct) Xóa
        
        #cart-muahang.mt-3.p-2.d-flex.flex-md-row.flex-column
          .cart-checkbox.custom-control.custom-checkbox.flex-grow-1.align-self-md-center
            input#select-all-product.custom-control-input(type='checkbox', name="allProduct", checked)
            label#select-all-label.custom-control-label(for='select-all-product')= `Chọn tất cả (${cartNum.slsp})`
          .d-flex.align-items-center.justify-content-end
            #cart-total-pro-check= `Tổng tiền hàng (${cartNum.slsp} sản phẩm):`
            .text-danger.cart-price
              span ₫
              span#cart-price= cartNum.tongtien
            button.btn.btn-danger.px-1.px-md-5(type="button") Mua hàng
      else
        .d-flex.flex-column.justify-content-center.align-items-center
          img(src="/images/nocart.png", alt="no cart", style="width: 10%")
          big Giỏ hàng của bạn còn trống
          a.btn.btn-danger.mt-4(role="button", href="/") MUA NGAY

    #cart-product-suggestion.p-2.mt-4
      #cart-product-suggestion-title
        | CÓ THỂ BẠN THÍCH
      #cart-product-list.d-flex.flex-wrap.justify-content-center
        each product in productSuggestionList
          .product-suggestion
            a(href=`/product/${product.ma_sanpham}`)
              .bg-white
                .product-suggesion-img
                  img(src=`${product.hinhanh.split(',')[0]}`)
                .product-suggestion-title.p-2
                  span= product.ten_sanpham
                .product-same-price.p-2.d-flex.justify-content-between
                  div
                    small.text-danger ₫
                    span.text-danger= Math.round(product.giaban * (1 - product.khuyenmai / 100))
                  div
                    span.text-dark= product.daban
                    small.text-dark &nbsp;Đã bán


block supScript
  script(src="/scripts/customer/cart.js")