extends ../common

append style
  link(rel="stylesheet", href="/styles/customer/checkout.css")

block content
  #header-background
    #header.container
      #header-top.d-md-flex.justify-content-between.pt-1
        #header-top-left
          ul.d-flex
            li
              a(href="#") Kênh bán hàng
            li
              span Kết nối 
              a(href="#")
                i.fab.fa-facebook
              span &nbsp;
              a(href="#")
                i.fab.fa-instagram
        #header-top-right.text-md-right
          ul.d-flex.justify-content-end
            li
              .popover__wrapper
                a.d-flex(href='/account/notification?type=1')
                  .position-root
                    i.far.fa-bell
                  span &nbsp;Thông báo
                  .position-child
                    span.badge.badge-pill.badge-light= notifications?notifications.length:0
                if (user)
                  .popover__content
                    if (notifications.length === 0)
                      .no-notification
                        img.d-block(src="/images/shop/notification.png")
                        span.text-secondary Không có thông báo nào
                    else
                      p.popover__message Thông báo mới nhận
                      - var i = 0;
                      while i < notifications.length && i < 5
                        a(href=notifications[i].link)
                          .popover__content__main_noti.p-2.d-flex(style=notifications[i].daxem?"background-color: white":"")
                            .popover__content__img__noti
                              img(src=notifications[i].hinhanh, alt="thongbao", width="80px", height="80px")
                            .popover__content__thongbao.d-flex.flex-column.justify-content-center
                              .popover__content__thongbao__title.text-left= notifications[i].tieude
                              .popover__content__thongbao__content.text-left= notifications[i].noidung.slice(0, 150) + '...'
                        - i++;
                      a.btn.btn-light.w-100(role="button", href="/account/notification?type=1") Xem tất cả
                else
                  .popover__content.d-md-flex.flex-column.d-none
                    .text-center.flex-fill.d-flex.flex-column.justify-content-center.py-5
                      .popover__content__img.mx-auto(style='background-image: url("/images/shop/notification.png"); height: 100px')
                      .text-primary-v2 Đăng nhập để xem thông báo
                    .d-flex
                      //- button.btn.btn-light.flex-fill(type="button", data-toggle='modal', data-target='#header-dangky') Đăng ký
                      //- button.btn.btn-light.flex-fill(type="button", data-toggle='modal', data-target='#header-dangnhap') Đăng nhập
                      a.btn.btn-light.flex-fill(role="button", href="/login/register") Đăng ký
                      a.btn.btn-light.flex-fill(role="button", href="/login") Đăng nhập
            li
              a.d-flex(href='/')
                i.far.fa-question-circle
                span Trợ giúp
            if (user)
              li
                .popover__wrapper__user
                  a.d-flex(href='/account/purchase')
                    img#img-avatar-mini(src=`${avatarUser}`, width="20px", height="20px")
                    span= ` ${user}`
                  .popover__content__user.d-none.d-md-inline
                    .popover__content__main__user.p-2.d-flex
                      a.color-default(href="/account/profile") Tài khoản của tôi
                    .popover__content__main__user.p-2.d-flex
                      a.color-default(href="/account/purchase") Đơn mua
                    .popover__content__main__user.p-2.d-flex
                      a.color-default(href="/login/logout") Đăng xuất



  #checkout-header.bg-white.p-4
    a(href="/")
      img(src="/images/shop/logo_3.png", alt="ShopOH", title="ShopOH", width="50px")
    span.text-primary-v2 THANH TOÁN
  #checkout-main
    #checkout-address.bg-white
      .border-pro
      #checkout-address-main.p-3
        .text-primary-v2
          i.fas.fa-map-marker-alt
          span  Địa Chỉ Nhận Hàng
        #address-choose.mt-3(style=`display: ${addrs.length <= 0 ? 'none' : 'block'}`)
          .d-flex.justify-content-between
            #address.flex-fill
              b= `${addrDefault.ten} (${addrDefault.dienthoai})`
              br
              span= `${addrDefault.nha}, ${addrDefault.xa}, ${addrDefault.huyen}, ${addrDefault.tinh}`
            div
              button#change-address-btn.btn.btn-light(type="button") THAY ĐỔI
        #address-select(style=`display: ${addrs.length > 0 ? 'none' : 'block'}`)
          .text-right
            a.btn.btn-light(role="button", href="/account/address") Thiết Lập Địa Chỉ
          each addr in addrs
            .custom-control.custom-radio
              input.custom-control-input(id=`addr-${addr.encode}`, type="radio", name="address", value=addr.encode, checked=addr.macdinh?true:false)
              label.custom-control-label(for=`addr-${addr.encode}`)
                b= `${addr.ten} (${addr.dienthoai})`
                br
                span= `${addr.nha}, ${addr.xa}, ${addr.huyen}, ${addr.tinh}`
          .mt-2
            button#address-complete-btn.btn.btn-primary-v2.mr-3(type="button") Hoàn thành
            button#address-cancel.btn.btn-light(type="button") Trở Lại
    #checkout-product.bg-white.mt-3
      table.table.bg-white
        thead
          tr.text-center
            th.text-left Sản phẩm
            th Đơn giá
            th Số lượng
            th Thành tiền
        tbody
          each item in items
            tr.text-center
              td.d-flex
                img(src=item.hinhanh.split(',')[0], width="40px", height="40px")
                div.text-left.ml-2
                  div= item.ten_sanpham
                  small= `Loại: màu ${item.mausac}, size: ${item.size}`
              td= `₫${Math.round(item.giaban * (1 - item.khuyenmai / 100))}`
              td= item.sl
              td= `₫${Math.round(item.giaban * (1 - item.khuyenmai / 100)) * item.sl}`
    #checkout-type-checkout.mt-3.bg-white.p-3
      div
        span Phương thức thanh toán: 
        span.text-primary-v2 Thanh toán khi nhận hàng
    #checkout-price.pt-4.bg-white.p-3
      .checkout-price-item.text-secondary.d-flex.justify-content-between
        span Tổng tiền hàng 
        span= `₫${sumPrice}`
      .checkout-price-item.text-secondary.d-flex.justify-content-between
        span Phí vận chuyển: 
        span ₫50000
      .checkout-price-item.text-secondary.d-flex.justify-content-between
        span Tổng số tiền: 
        span.text-primary-v2(style="font-size: 30px")= `₫${sumPrice + 50000}`
    #checkout-OK.bg-white.p-3.text-right
      button#checkout-btn.btn.btn-primary-v2(type="button") Đặt Hàng
    

append script
  script(src="/scripts/customer/checkout.js")

