extends ../common

append style
  link(rel="stylesheet", href="/styles/customer/common.css")

block header
  #header-background
    #header.container
      #header-top.d-md-flex.justify-content-between.pt-1
        #header-top-left
          ul.d-flex
            li
              a(href="/admin") Kênh bán hàng
            li
              span Kết nối 
              a(href="#")
                i.fab.fa-facebook
              span &nbsp;
              a(href="#")
                i.fab.fa-instagram
        #header-top-right.text-md-right
          ul.d-flex.justify-content-end
            li
              .popover__wrapper
                a.d-flex(href='/account/notification?type=1')
                  .position-root
                    i.far.fa-bell
                  span &nbsp;Thông báo
                  .position-child
                    span.badge.badge-pill.badge-light= notifications?notifications.length:0
                if (user)
                  .popover__content
                    if (notifications.length === 0)
                      .no-notification
                        img.d-block(src="/images/shop/notification.png")
                        span.text-secondary Không có thông báo nào
                    else
                      p.popover__message Thông báo mới nhận
                      - var i = 0;
                      while i < notifications.length && i < 5
                        a(href=notifications[i].link)
                          .popover__content__main_noti.p-2.d-flex(style=notifications[i].daxem?"background-color: white":"")
                            .popover__content__img__noti
                              img(src=notifications[i].hinhanh, alt="thongbao", width="80px", height="80px")
                            .popover__content__thongbao.d-flex.flex-column.justify-content-center
                              .popover__content__thongbao__title.text-left= notifications[i].tieude
                              .popover__content__thongbao__content.text-left= notifications[i].noidung.slice(0, 150) + '...'
                        - i++;
                      a.btn.btn-light.w-100(role="button", href="/account/notification?type=1") Xem tất cả
                else
                  .popover__content.d-md-flex.flex-column.d-none
                    .text-center.flex-fill.d-flex.flex-column.justify-content-center.py-5
                      .popover__content__img.mx-auto(style='background-image: url("/images/shop/notification.png"); height: 100px')
                      .text-primary-v2 Đăng nhập để xem thông báo
                    .d-flex
                      //- button.btn.btn-light.flex-fill(type="button", data-toggle='modal', data-target='#header-dangky') Đăng ký
                      //- button.btn.btn-light.flex-fill(type="button", data-toggle='modal', data-target='#header-dangnhap') Đăng nhập
                      a.btn.btn-light.flex-fill(role="button", href="/login/register") Đăng ký
                      a.btn.btn-light.flex-fill(role="button", href="/login") Đăng nhập
            li
              a.d-flex(href='#')
                i.far.fa-question-circle
                span Trợ giúp
            if (user)
              li
                .popover__wrapper__user
                  a.d-flex(href='/account/purchase')
                    img#img-avatar-mini(src=`${avatarUser}`, width="20px", height="20px")
                    span= ` ${user}`
                  .popover__content__user.d-none.d-md-inline
                    .popover__content__main__user.p-2.d-flex
                      a.color-default(href="/account/profile") Tài khoản của tôi
                    .popover__content__main__user.p-2.d-flex
                      a.color-default(href="/account/purchase") Đơn mua
                    .popover__content__main__user.p-2.d-flex
                      a.color-default(href="/login/logout") Đăng xuất
            else
              li
                //- span(data-toggle='modal', data-target='#header-dangky') Đăng ký
                a(href="/login/register") Đăng ký
              li
                //- span(data-toggle='modal', data-target='#header-dangnhap') Đăng nhập
                a(href="/login") Đăng nhập
            
            

      #header-middle.d-flex.mt-3.py-2
        .mx-2
          a(href="/")
            img(src="/images/shop/logo_3.png", title="ShopOH")
        .flex-fill.mx-4.pt.d-flex.flex-column.justify-content-center
          form(action='/product/search', method="GET", name="formSearch")
            .input-group
              input.form-control(type="text", name="keyword", placeholder="Tìm sản phẩm, thương hiệu, chất liệu", value=keyword?keyword:"")
              .input-group-append
                button#search-btn.btn.btn-success(type="submit")
                  i.fas.fa-search
          ul.d-sm-flex.d-none
            li
              a(href="/product/search?keyword=%C3%81o%20s%C6%A1%20mi%20nam") Áo sơ mi nam
            li
              a(href="/product/search?keyword=%C3%81o%20s%C6%A1%20mi%20n%E1%BB%AF") Áo sơ mi nữ
            li
              a(href="/product/search?keyword=Qu%E1%BA%A7n%20t%C3%A2y") Quần tây
            li
              a(href="/product/search?keyword=Qu%E1%BA%A7n%20jeans") Quần jeans
            li.x
              a(href="/product/search?keyword=Ch%C3%A2n%20v%C3%A1y") Chân váy
        .mx-2.d-flex.flex-column.justify-content-center
          #cart.position-root.popover__wrapper__cart
            a(href="/cart")
              i.fas.fa-shopping-cart.fa-2x.text-white
            .position-child-cart
              span#numProductIncart.badge.badge-pill.badge-light= cartNum.slsp
            #main-cart
              if (cartNum.slsp === 0)
                .popover__content__cart.text-center.py-5.d-none.d-md-inline
                  img.w-25.d-block.mx-auto(src="/images/shop/nocart.png")
                  span Chưa có sản phẩm
              else
                .popover__content__cart.d-none.d-md-inline
                  p.popover__message Sản phẩm mới thêm
                  #product_cart_list.popover__content__main
                    - var index = 0;
                    while index < cartProduct.length && index < 5
                      .product_content.p-2.d-flex(data-target=`/product/${cartProduct[index].ma_sanpham}`)
                        .popover__content__image
                          .popover__content__img(style=`background-image: url(${cartProduct[index].hinhanh.split(',')[0]})`)
                        .popover__content__main__cart.ml-1.d-flex
                          .popover__content__main__cart__content__left
                            .popover__content__cart__title
                              small= cartProduct[index].ten_sanpham
                            .popover__content__cart__content
                              small= `Loại: màu ${cartProduct[index].mausac}, size: ${cartProduct[index].size}`
                          .popover__content__main__cart__content__right
                            .popover__content__cart__price.text-right
                              span.text-primary-v2= `₫${Math.round(cartProduct[index].giaban * (1 - cartProduct[index].khuyenmai / 100))}`
                              if (cartProduct[index].soluong > 1)
                                small &nbsp;x&nbsp;
                                span= cartProduct[index].soluong
                            .popover__content__cart__delete.text-right
                              button.btn.btn-link.delete-product-cart-btn(type="button", data-product=cartProduct[index].encode) Xóa
                      - index++
                  .text-right.p-2.d-flex.justify-content-between.align-items-center
                    small= `${cartNum.sl} loại sản phẩm trong giỏ`
                    a.btn.btn-primary-v2(href="/cart") Xem giỏ hàng
              
      #header-bottom

      //- #header-dangky.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel-dangky', aria-hidden='true')
      //-   .modal-dialog(role='document')
      //-     .modal-content
      //-       .modal-header
      //-         h4#exampleModalLabel-dangky.modal-title Đăng ký
      //-         p.text-primary-v2(data-toggle='modal', data-target='#header-dangnhap' data-dismiss='modal') Đăng nhập
      //-       .modal-body
      //-         form(action="/login/register", method="post")
      //-           .form-group
      //-             label(for="username-dangky") Tên tài khoản
      //-             input#username-dangky.form-control(type="text" placeholder="Tên tài khoản" name="account" required)
      //-           .form-group
      //-             label(for="password-dangky") Mật khẩu
      //-             input#password-dangky.form-control(type="password" placeholder="Mật khẩu" name="password" required)
      //-           .form-group
      //-             label(for="password2-dangky") Nhập lại mật khẩu
      //-             input#password2-dangky.form-control(type="password" placeholder="Mật khẩu" name="password2" required)
      //-           .modal-footer
      //-             button.btn.btn-light(type='button', data-dismiss='modal') TRỞ LẠI
      //-             button.btn.btn-primary-v2(type='button') ĐĂNG KÝ
      //- #header-dangnhap.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel-dangnhap', aria-hidden='true')
      //-   .modal-dialog(role='document')
      //-     .modal-content
      //-       .modal-header
      //-         h4#exampleModalLabel-dangnhap.modal-title Đăng nhập
      //-         p.text-primary-v2(data-toggle='modal', data-target='#header-dangky' data-dismiss='modal') Đăng ký
      //-       .modal-body
      //-         form(action="/login", method="POST", name="formLogin")
      //-           .form-group
      //-             label(for="username-dangnhap") Tên tài khoản
      //-             input#username-dangnhap.form-control(type="text" placeholder="Tên tài khoản" name="account" required)
      //-           .form-group
      //-             label(for="password-dangnhap") Mật khẩu
      //-             input#password-dangnhap.form-control(type="password" placeholder="password" name="password" required)
      //-           .modal-footer
      //-             button.btn.btn-light(type='button', data-dismiss='modal') TRỞ LẠI
      //-             button.btn.btn-primary-v2(type='submit') ĐĂNG NHẬP
block content
  block main

block footer
  #footer.px-5.pt-5.pb-2
    .row
      .col-md.text-center
        b CHĂM SÓC KHÁCH HÀNG
        ul
          li
            a(href="#") Trung tâm trợ giúp
          li
            a(href="#") Hướng dẫn mua hàng
          li
            a(href="#") Trả hàng &amp; Hoàn tiền
          li
            a(href="#") Chăm sóc khách hàng
          li
            a(href="#") Chính sách bảo hành
      .col-md.text-center.mt-md-0.mt-2
        b VỀ SHOPOH
        ul
          li
            a(href="#") Giới thiệu về ShopOH
          li
            a(href="#") Điều khoản ShopOH
          li
            a(href="#") Chính sách bảo mật
          li
            a(href="#") Chính hãng
          li
            a(href="#") Kênh bán hàng
      .col-md.text-center.mt-md-0.mt-2
        b LIÊN HỆ VỚI CHÚNG TÔI
        ul
          li
            a(href="#")
              i.fab.fa-facebook
              span &nbsp;Facebook
          li
            a(href="#")
              i.fab.fa-instagram
              span &nbsp;Instagram
    hr
    p © 2020 ShopOH. Tất cả các quyền được bảo lưu.

append script
  script(src="/scripts/customer/common.js")