extends ./common

append style
  link(rel="stylesheet", href="/styles/customer/personal-common.css")

block main
  #personal.row
    #personal-left.col-md-4.col-lg-3.d-flex.flex-md-column.justify-content-around.justify-content-md-start
      #personal-left-top.d-flex
        a(href="/account/profile").mr-3
          #personal-left-img
            img#img-avatar-left(src=`${avatarUser}`)
        #personal-left-name
          div
            b Tên user
          a(href="/account/profile")
            i.fas.fa-edit
            span Sửa hồ sơ
      #personal-top-middle
        .personal-dropdown
          a#dropdownMenu(href="/account/profile")
            i.bg-warning.far.fa-user
            sapn Tài khoản của tôi
          .personal-dropdown-menu(class=/(profile|address|password)/.test(active)?"":"d-none")
            a.personal-dropdown-item(href='/account/profile', class=active==="profile"?"personal-active":"") Hồ sơ
            a.personal-dropdown-item(href='/account/address', class=active==="address"?"personal-active":"") Địa chỉ
            a.personal-dropdown-item(href='/account/password', class=active==="password"?"personal-active":"") Mật khẩu
        a(href="/account/purchase", class=active==="purchase"?"personal-active":"")
          i.bg-info.far.fa-file-alt
          sapn Đơn mua
        a(href="/account/notification", class=active==="notification"?"personal-active":"")
          i.bg-danger.far.fa-bell
          sapn Thông báo
    block main-personal
