extends ./personal-common

append style
  link(rel="stylesheet", href="/styles/customer/personal-order.css")

block main-personal
  .flex-fill
    .d-flex.justify-content-between.bg-white.p-2
      div
        a.text-secondary(href="/account/purchase") TRỞ LẠI
      div
        span ID ĐƠN HÀNG: 
        span.mr-3= order.ma_dondathang
        span.text-primary-v2.ml-3.outline-left= order.ten_trangthai.toUpperCase()
    #order-status.bg-white.p-3.px-5
      each status in statuses
        .order-status-item.mb-2.text-secondary
          i.fas.fa-check
          span &nbsp;
          span.mr-2= status.time
          span.text-info= status.st
    //- #order-sell-again.p-3.text-right
    //-   button.btn.btn-primary-v2(type="button") Mua lần nữa
    #order-address.mt-2.bg-white.p-2
      .border-pro
      #order-address-content.py-3.pl-3
        div(style="font-size: 20px") Địa Chỉ Nhận Hàng
        div= order.ten_nguoinhan
        small.text-secondary= order.dienthoai_nguoinhan
        br
        small.text-secondary= `${order.nha}, ${order.xa}, ${order.huyen}, ${order.tinh}`
      .border-pro
    #orders
      .order
        .order-list
          each item in items
            a(href=`/product/${item.ma_sanpham}`)
              .order-item.py-2.d-flex.align-items-center
                .order-item-img
                  img(src=item.hinhanh.split(',')[0], width="80px")
                .order-item-content.flex-fill.mx-2
                  .order-item-title= item.ten_sanpham
                  .order-item-type
                    small= `Loại: màu ${item.mausac}, size: ${item.size}`
                  .order-item-amount= `x${item.soluong}`
                .order-item-price
                  if (item.khuyenmai > 0)
                    del= `₫${item.giaban}`
                    br
                  span.text-primary-v2= `₫${Math.round(item.giaban * (1 - item.khuyenmai / 100)) * item.soluong}`
        .order-price.pt-4
          .order-price-item.text-secondary.d-flex.justify-content-between
            small Tổng tiền hàng 
            span= `₫${sumPrice}`
          .order-price-item.text-secondary.d-flex.justify-content-between
            small Phí vận chuyển: 
            span= `₫${order.phi_vanchuyen}`
          .order-price-item.text-secondary.d-flex.justify-content-between
            small Tổng số tiền: 
            span.text-primary-v2(style="font-size: 30px")= `₫${sumPrice + order.phi_vanchuyen}`
          .order-price-item.text-secondary.d-flex.justify-content-between
            small Phương thức Thanh toán
            span Thanh toán khi nhận hàng