extends ./personal-common

append style
  link(rel="stylesheet", href="/styles/customer/personal-purchase.css")

block main-personal
  .flex-fill
    #nav-purchase.d-flex.justify-content-between.text-center
      a.flex-fill(href="/account/purchase", class=type===0?'purchase-active':'') Tất cả
      a.flex-fill(href="/account/purchase?type=1", class=type===1?'purchase-active':'') Chờ xác nhận
      a.flex-fill(href="/account/purchase?type=2", class=type===2?'purchase-active':'') Đã xác nhận
      a.flex-fill(href="/account/purchase?type=3", class=type===3?'purchase-active':'') Đang giao
      a.flex-fill(href="/account/purchase?type=4", class=type===4?'purchase-active':'') Đã giao
      a.flex-fill(href="/account/purchase?type=5", class=type===5?'purchase-active':'') Đã hủy

    #search-purchase.my-2
      form(action='', method="GET")
        .input-group
          input.form-control(type="text", name="keyword", placeholder="Tìm theo id đơn hàng, tên sản phẩm", value=keyword?keyword:"")
          .input-group-append
            button#search-btn.btn.btn-secondary(type="submit")
              i.fas.fa-search

    #orders
      if (orders.length === 0)
        .noorder.d-flex.flex-column.justify-content-center.align-items-center
          img(src="/images/shop/noorder.png", width="80px")
          span Chưa có đơn hàng
      else
        each order in orders
          .order
            .status-order.text-right.py-2
              span.text-primary-v2= order.purchase.ten_trangthai.toUpperCase()
            a.order-list(href=`/account/purchase/order/${order.purchase.ma_dondathang}`)
              each item in order.items
                .order-item.py-2.d-flex.align-items-center
                  .order-item-img
                    img(src=item.hinhanh.split(',')[0], width="80px")
                  .order-item-content.flex-fill.mx-2
                    .order-item-title= item.ten_sanpham
                    .order-item-type
                      small= `Loại: màu ${item.mausac}, size: ${item.size}`
                    .order-item-amount= `x${item.soluong}`
                  .order-item-price
                    if (item.khuyenmai > 0)
                      del= `₫${item.giaban * item.soluong}`
                      br
                    span.text-primary-v2= `₫${Math.round(item.giaban * (1 - item.khuyenmai / 100)) * item.soluong}`
            .order-price.pt-4.text-right
              span Tổng số tiền: 
              span.text-primary-v2= `₫${order.sumPrice + order.purchase.phi_vanchuyen}`
            .order-footer.text-right
              //- button.m-1.btn.btn-primary-v2(type="button") Mua lần nữa
              a.m-1.btn.btn-light(role="button", href=`/account/purchase/order/${order.purchase.ma_dondathang}`) Xem chi tiết đơn hàng
//- append script
//-   script(src="/scripts/customer/personal-purchase.js")