extends ./personal-common

append style
  link(rel="stylesheet", href="/styles/customer/personal-address.css")

block main-personal
  #personal-right.col-md-8.col-lg-9
    #personnal-right-top.d-flex.justify-content-between
      div Địa chỉ của tôi
      button.btn.btn-danger(type="button", data-toggle='modal', data-target='#add-address')
        i.fas.fa-plus
        span &nbsp;Thêm địa chỉ mới
    if (successMgs)
      each sMgs in successMgs
        .alert.alert-success.alert-dismissible.fade.show.mx-auto.mt-1(role='alert')
          span= sMgs
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
    #personnal-right-middle
      if (addresses.length === 0)
        div Bạn chưa có địa chỉ
      else
        each address in addresses
          .personal-address.py-2.d-flex
            .personal-address-left.flex-fill
              .d-flex.align-items-center
                .personal-address-label Tên
                .personal-address-content= address.ten
                if (address.macdinh)
                  .personal-address-default.ml-2
                    span.badge.badge-success Mặc định
              .d-flex.align-items-center.mt-3
                .personal-address-label Số điện thoại
                .personal-address-content= address.dienthoai
              .d-flex.align-items-center.mt-3
                .personal-address-label Địa chỉ
                .personal-address-content
                  span
                    span= address['sonha/duong']
                    br
                    span= address['phuong/xa']
                    br
                    span= address['quan/huyen']
                    br
                    span= address['tinh/thanhpho']
            .personal-address-right.text-right
              .personal-address-right-top
                button.btn.btn-link(type="button", data-toggle='modal', data-target='#add-address', data-address=address.encode) Sửa
                button.btn.btn-link(type="button", data-toggle='modal', data-target='#delete-address', data-address=address.encode) Xóa
              .personal-address-right-bottom
                button.btn.btn-light(type="button" disabled=address.macdinh?true:false, class=address.macdinh?'not-allowed':'', data-address=address.encode) Thiết lập mặc định
  
  #add-address.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel-addAddress', aria-hidden='true', class)
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#exampleModalLabel-addAddress.modal-title Thêm một địa chỉ mới
        .modal-body
          if (errorMgs)
            .alert.alert-danger.alert-dismissible.fade.show.mx-auto(role='alert')
              span= errorMgs
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
          form(name="addressForm", action="/account/address", method="POST")
            input(type="hidden", name="_csrf", value=csrfToken)
            .form-group
              .input-group
                .input-group-prepend
                  label.input-group-text(for="address-name") Tên
                input#address-name.form-control(type="text" placeholder="Tên" name="name" required, value=body?body.name:"")
            .form-group
              .input-group
                .input-group-prepend
                  label.input-group-text(for="address-phone") Số điện thoại
                input#address-phone.form-control(type="text" placeholder="Số điện thoại" name="phone" required, value=body?body.phone:"")
            .form-group
              .input-group
                .input-group-prepend
                  label.input-group-text(for="address-tinh") Tỉnh/Thành phố
                select#address-tinh.custom-select(name="tinh", required)
            .form-group
              .input-group
                .input-group-prepend
                  label.input-group-text(for="address-huyen") Quận/Huyện
                select#address-huyen.custom-select(name="huyen", required)
            .form-group
              .input-group
                .input-group-prepend
                  label.input-group-text(for="address-xa") Xã/Phường
                select#address-xa.custom-select(name="xa", required)
            .form-group
              .input-group
                .input-group-prepend
                  label.input-group-text(for="address-homenum") Tòa nhà, tên đường
                input#address-homenum.form-control(type="text" placeholder="Tòa nhà, tên đường" name="homenum" required, , value=body?body.homenum:"")
            .modal-footer
              button.btn.btn-light(type='button', data-dismiss='modal') TRỞ LẠI
              button.btn.btn-danger(type='submit') HOÀN THÀNH
  #delete-address.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content.p-2
        .modal-body
          .py-5 Bạn có chắc muốn xoá địa chỉ này?
          .d-flex
            button.btn.btn-danger.flex-fill.mr-1(type='button') XÓA
            button.btn.btn-light.flex-fill(type='button', data-dismiss='modal') TRỞ LẠI

append script
  script(src="/scripts/customer/personal-address.js")
  if (showModalAddress)
    script
      |window.addEventListener('load', () => $('#add-address').modal('show'));
