extends ./personal-common

append style
  link(rel="stylesheet", href="/styles/customer/personal-notification.css")

block main-personal
  #personal-right.col-md-8.col-lg-9
    //- #personal-noti-header.text-right.p-2
    //-   button.btn.btn-link(type="button" disabled) Đánh dấu đã đọc tất cả
    #personal-noti-list
      if (notifications.length > 0)
        - var notiTypes = notifications.filter(noti => noti.loai_thongbao === type);
        if (notiTypes.length > 0)
          each notification in notiTypes
            .notification.d-flex.p-3.align-items-center(class=notification.daxem?'':'noti-not-see')
              .personal-noti-img
                img(src=notification.hinhanh, alt="")
              .personal-noti-main.flex-fill
                .personal-noti-title= notification.tieude
                .personal-noti-content= notification.noidung
                .personal-noti-date= notification.ngaydang.toLocaleString()
              .personal-noti-see
                a(href=notification.link, role="button").btn.btn-outline-danger Xem chi tiết
        else
          .no-notification
            img.d-block(src="/images/shop/notification.png")
            span Không có thông báo nào
      else
        .no-notification
          img.d-block(src="/images/shop/notification.png")
          span Không có thông báo nào

