extends ./personal-common

append style
  link(rel="stylesheet", href="/styles/customer/personal-profile.css")

block main-personal
  #personal-right.col-md-8.col-lg-9
    #personnal-right-top
      div Hồ sơ của tôi
      div Quản lý thông tin hồ sơ để bảo mật tài khoản
    #personnal-right-middle.pt-2
      if (successMgs)
        each sMgs in successMgs
          .alert.alert-success.alert-dismissible.fade.show.mx-auto(role='alert')
            span= sMgs
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') &times;
      if (errorMgs)
        each eMgs in errorMgs
          .alert.alert-danger.alert-dismissible.fade.show.mx-auto(role='alert')
            span= eMgs
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') &times;
      form#form-profile.row.py-4(action="/account/profile", method="POST", name="profileForm")
        input(type="hidden", name="_csrf", value=csrfToken)
        #form-left.col-md-8
          .form-group.d-flex.align-items-center
            label.mb-0(for='name') Tên
            input#name.form-control(type='text', name="username", placehodle="Nhập tên", value=account.ten_khachhang||"")
          .form-group.d-flex
            label Email
            div= account.email || 'Chưa thiết lập'
            button.btn.btn-link.btn-change(type="button") Thay đổi
          .form-group.d-flex
            label Số điện thoại
            div= account.dienthoai || 'Chưa thiết lập'
            button.btn.btn-link.btn-change(type="button") Thay đổi
          .form-group.d-flex
            label Tên tài khoản
            b= account.taikhoan
          .form-group.d-flex
            label Giới tính
            .custom-control.custom-radio.custom-control-inline
              input#gender-male.custom-control-input(type="radio", name="gender", value="0", checked=account.gioitinh?account.gioitinh==='0'?true:false:false)
              label.custom-control-label(for="gender-male") Nam
            .custom-control.custom-radio.custom-control-inline
              input#gender-female.custom-control-input(type="radio", name="gender", value="1", checked=account.gioitinh?account.gioitinh==='1'?true:false:false)
              label.custom-control-label(for="gender-female") Nữ
            .custom-control.custom-radio.custom-control-inline
              input#gender-diff.custom-control-input(type="radio", name="gender", value="2", checked=account.gioitinh?account.gioitinh==='2'?true:false:false)
              label.custom-control-label(for="gender-diff") Khác
          .form-group.d-flex.align-items-center
            label.mb-0(for="ngaysinh") Ngày sinh
            input#ngaysinh.form-control(type="date", name="birthday", value=account.ngaysinh||"")
          
        #form-right.col-md-4.d-flex.flex-column.align-items-center.p-2
          #form-right-img(style=`background-image: url('${account.avatar}')`)
          input#file.d-none(type="file", name="avatar")
          button.btn.btn-light(type="button") Chọn ảnh
          .mt-2
            small.d-block Dụng lượng file tối đa 1 MB
            small.d-block Định dạng:.JPEG, .PNG
        .text-center.col.mt-2
            button.px-4.btn.btn-danger(type='submit') Lưu

append script
  script(src="/scripts/customer/customer-profile.js")
