extends ./common

block style_child
  link(rel="stylesheet", href="/styles/customer/same-product.css")

block main
  .main-same
    .product-main.d-flex
      .product-main-img.mr-5
        a(href=`/product/${productMain.ma_sanpham}`)
          img(src="/images/product1.jpg")
      .product-main-content
        .product-main-name
          a(href=`/product/${productMain.ma_sanpham}`)= productMain.ten_sanpham
        .product-like
            i.text-danger.far.fa-heart
            span= ` Đã thích (${productMain.like})`
        .product-main-price
          span.text-danger= `₫${productMain.giaban}`
        a.btn.btn-danger(href=`/product/${productMain.ma_sanpham}`, role="button") Mua ngay


    #product-same-list.p-2.mt-4
      #main-product-same-list-title
        | SẢN PHẨM TƯƠNG TỰ
      #main-product-same-list-list.d-flex.flex-wrap.justify-content-center
        each product in productSameList
          .product-same
            a(href=`/product/${product.ma_sanpham}`)
              .bg-white
                .product-same-img
                  img(src="/images/product1.jpg")
                .product-same-title.p-2
                  span= product.ten_sanpham
                .product-same-price.p-2.d-flex.justify-content-between
                  div
                    small.text-danger ₫
                    span.text-danger= product.giaban
                  div
                    i.far.fa-heart.text-danger
                    span.text-dark= ` ${product.like}`
