extends ./common

append style
  link(rel="stylesheet", href="/styles/customer/same-product.css")

block main
  .main-same
    .product-main.d-flex
      .product-main-img.mr-5
        a(href=`/product/${productMain.ma_sanpham}`)
          img(src=`${productMain.hinhanh.split(',')[0]}`)
      .product-main-content
        .product-main-name
          a(href=`/product/${productMain.ma_sanpham}`)= productMain.ten_sanpham
        .product-like
            span= `Đã bán (${productMain.daban})`
        .product-main-price
          if (productMain.khuyenmai > 0)
            del.mr-2= `₫${productMain.giaban}`
          span.text-danger= `₫${Math.round(productMain.giaban * (1 - productMain.khuyenmai / 100))}`

        a.btn.btn-danger(href=`/product/${productMain.ma_sanpham}`, role="button") Mua ngay


    #product-same-list.p-2.mt-4
      #main-product-same-list-title
        | SẢN PHẨM TƯƠNG TỰ
      #main-product-same-list-list.d-flex.flex-wrap.justify-content-center
        each product in productSameList
          .product-same
            a(href=`/product/${product.ma_sanpham}`)
              .bg-white
                .product-same-img
                  img(src=`${product.hinhanh.split(',')[0]}`)
                .product-same-title.p-2
                  span= product.ten_sanpham
                .product-same-price.p-2.d-flex.justify-content-between
                  div
                    small.text-danger ₫
                    span.text-danger= Math.round(product.giaban * (1 - product.khuyenmai / 100))
                  div
                    span.text-dark= productMain.daban
                    small.text-dark &nbsp;Đã bán
