extends ./common

append style
  link(rel="stylesheet", href="/styles/customer/index.css")
  link(rel="stylesheet", href="/styles/customer/allproduct.css")

block main
  #main
    .container.py-4
      #main-product-list.p-2
        #main-product-list-all-title.mb-0(style="height: max-content;")
          span Kết quả tìm kiếm cho: "
          span.text-primary-v2= keyword
          span "
        #list-product.d-flex.flex-wrap.justify-content-center
          each product in products
            .product
              a(href=`/product/${product.ma_sanpham}`)
                .bg-white
                  .wrap-product-card
                    .product-img.bg.lazy(data-src=product.hinhanh.split(',')[0])
                  .product-title.p-2
                    span= product.ten_sanpham
                  .product-price.p-2.d-flex.justify-content-between
                    div
                      small.text-primary-v2 ₫
                      span.text-primary-v2= Math.round(product.giaban * (1 - product.khuyenmai / 100))
                    div
                      span.text-dark= `${product.daban}`
                      small.text-dark &nbsp;Đã bán

      if (products.length === 0)
        include ./empty-product
      else if (sumProduct > productPerPage)
        nav.mt-4
          ul.pagination.justify-content-center
            li.page-item(class=page===1?'disabled':'')
              a.page-link(href=`/product/search?keyword=${keyword}&page=${page - 1}`)
                span &laquo;
            each p in pageArr
              li.page-item(class=p===page?'active':'')
                a.page-link(href=`/product/search?keyword=${keyword}&page=${p}`)= p          
            li.page-item(class=page===pageMax?'disabled':'')
              a.page-link(href=`/product/search?keyword=${keyword}&page=${page + 1}`)
                span &raquo;