extends ./common

append style
  link(rel="stylesheet", href="/styles/customer/styleProduct.css")

block main
  #main
    #banner
      #baner-img
        block img-banner
      #main-area
        #category-area.py-3
          div LOẠI SẢN PHẨM
          #category-list.d-flex.bg-white.flex-wrap
            each _type in filterType
              .category(data-type=`${_type.ma_loai1}`)
                .category-content
                  .category-image(style=`background-image: url("/images/products/ef1988ec2a34daee6d0bf223ce8e2068.jpg")`)
                  .categoty-title= _type.ten_loai1.toUpperCase()
        #main-content.row
          #filler.col-md-3.text-center
            div
              i.fas.fa-filter
              span &nbsp;BỘ LỌC TÌM KIẾM
            form(name="filterForm", method="GET")
              input(type="hidden", name="sortBy", value=query?query.sortBy:"new")
              #filler-list
                .filter-criteria.text-left
                  .filter-title.text-center Danh mục
                  each _type in filterType
                    .custom-control.custom-checkbox
                      input.custom-control-input(id=`filter-type-${_type.ma_loai1}`, type="checkbox", name="filterType1", value=`${_type.ma_loai1}`)
                      label.custom-control-label(for=`filter-type-${_type.ma_loai1}`)= _type.ten_loai1
                .filter-criteria.text-left
                  .filter-title.text-center Chất liệu
                  - var materialList = query ? query.filterMaterial.split(',') : [''];
                  each _material in filterMaterial
                    .custom-control.custom-checkbox
                      input.custom-control-input(id=`filter-material-${_material.ma_chatlieu}`, type="checkbox", name="filterMaterial", value=`${_material.ma_chatlieu}`, checked=materialList.includes(_material.ma_chatlieu.toString())?true:false)
                      label.custom-control-label(for=`filter-material-${_material.ma_chatlieu}`)= _material.ten_chatlieu
                .filter-criteria
                  .filter-title Khoảng giá
                  .d-flex.flex-md-column.flex-lg-row.justify-content-center.align-items-center
                    input.form-control.filter-price(type="number", placeholder="đ TỪ", name="minPriceRange", value=query?query.minPriceRange!==0?query.minPriceRange:"":"")
                    span &nbsp;&#45;&nbsp;
                    input.form-control.filter-price(type="number", placeholder="đ ĐẾN", name="maxPriceRange", value=query?query.maxPriceRange!==0?query.maxPriceRange:"":"")
                  .mt-2
                    button#btn-submit-pricetange.btn.btn-danger(type="button") ÁP DỤNG
                button#btn-clear-filter.btn.btn-danger.mt-2(type="button") XÓA BỘ LỌC
          #product-list.col-md-9
            #sort-product.d-flex.justyfy-content-center
              button.btn.btn-light.mx-2.sort(type="button", data-sort="new") Mới nhất
              button.btn.btn-light.mr-2.sort(type="button", data-sort="selling") Bán chạy
              button.btn.btn-light.mr-2.sort(type="button", data-sort="price-increase") Giá: Từ Thấp đến Cao
              button.btn.btn-light.mr-2.sort(type="button", data-sort="price-decease") Giá: Từ Cao đến Thấp
            if (products.length > 0)
              #product-list-main.d-flex.flex-wrap.justify-content-center
                each product in products
                  .product
                    a(href=`/product/${product.ma_sanpham}`)
                      .bg-white
                        .product-img
                          img(src=product.hinhanh.split(',')[0])
                        .product-title.p-2
                          span= product.ten_sanpham
                        .product-price.p-2.d-flex.justify-content-between
                          div
                            small.text-danger ₫
                            span.text-danger= Math.round(product.giaban * (1 - product.khuyenmai / 100))
                          div
                            span.text-dark= product.daban
                            small.text-dark &nbsp;Đã bán
            else
              #product-list-main.text-center.my-3
                img(src="/images/shop/62d2399b89039bd1dc90ca2d50d3e802.png", alt="noprodcut", width="120px")
                big.d-block Không tìm thấy sản phẩm nào
            nav.mt-4
              ul.pagination.justify-content-center
                li.page-item
                  a.page-link(href='#')
                    span(aria-hidden='true') &laquo;
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') 4
                li.page-item
                  a.page-link(href='#')
                    span(aria-hidden='true') &raquo;

append script
  script(src="/scripts/customer/styleProduct.js")