extends ./common

append style
  link(rel="stylesheet", href="/styles/customer/styleProduct.css")

block main
  #main
    #banner
      #main-area
        #main-content.row
          #filler.col-md-3.text-center
            div
              i.fas.fa-filter
              span &nbsp;BỘ LỌC TÌM KIẾM
            form(name="filterForm", method="GET")
              input(type="hidden", name="filterType1", value=`${query.filterType1}`)
              input(type="hidden", name="sortBy", value=query?query.sortBy:"new")
              #filler-list
                .filter-criteria.text-left
                  .filter-title.text-center Danh mục
                  - var typeList = query ? query.filterType2.split(',') : [''];
                  each _type in filterType
                    .custom-control.custom-checkbox
                      input.custom-control-input(id=`filter-type-${_type.ma_loai2}`, type="checkbox", name="filterType2", value=`${_type.ma_loai2}`, checked=typeList.includes(_type.ma_loai2.toString())?true:false)
                      label.custom-control-label(for=`filter-type-${_type.ma_loai2}`)= _type.ten_loai2
                .filter-criteria.text-left
                  .filter-title.text-center Chất liệu
                  - var materialList = query ? query.filterMaterial.split(',') : [''];
                  each _material in filterMaterial
                    .custom-control.custom-checkbox
                      input.custom-control-input(id=`filter-material-${_material.ma_chatlieu}`, type="checkbox", name="filterMaterial", value=`${_material.ma_chatlieu}`, checked=materialList.includes(_material.ma_chatlieu.toString())?true:false)
                      label.custom-control-label(for=`filter-material-${_material.ma_chatlieu}`)= _material.ten_chatlieu
                .filter-criteria
                  .filter-title Khoảng giá
                  .d-flex.flex-md-column.flex-lg-row.justify-content-center.align-items-center
                    input.form-control.filter-price(type="number", placeholder="đ TỪ", name="minPriceRange", value=query?query.minPriceRange!==0?query.minPriceRange:"":"")
                    span &nbsp;&#45;&nbsp;
                    input.form-control.filter-price(type="number", placeholder="đ ĐẾN", name="maxPriceRange", value=query?query.maxPriceRange!==0?query.maxPriceRange:"":"")
                  .mt-2
                    button#btn-submit-pricetange.btn.btn-danger(type="button") ÁP DỤNG
                button#btn-clear-filter.btn.btn-danger.mt-2(type="button") XÓA BỘ LỌC
          #product-list.col-md-9
            if (products.length > 0)
              div= `Loại sản phẩm: ${products[0].ten_loai0} > ${products[0].ten_loai1}`
              #sort-product.d-flex.justyfy-content-center
                button.btn.btn-light.mx-2.sort(type="button", data-sort="new") Mới nhất
                button.btn.btn-light.mr-2.sort(type="button", data-sort="selling") Bán chạy
                button.btn.btn-light.mr-2.sort(type="button", data-sort="price-increase") Giá: Từ Thấp đến Cao
                button.btn.btn-light.mr-2.sort(type="button", data-sort="price-decease") Giá: Từ Cao đến Thấp
              
              #product-list-main.d-flex.flex-wrap.justify-content-center
                input(type="hidden", name="page", value=page)
                each product in products
                  .product
                    a(href=`/product/${product.ma_sanpham}`)
                      .bg-white
                        .product-img
                          img(src=product.hinhanh.split(',')[0])
                        .product-title.p-2
                          span= product.ten_sanpham
                        .product-price.p-2.d-flex.justify-content-between
                          div
                            small.text-danger ₫
                            span.text-danger= Math.round(product.giaban * (1 - product.khuyenmai / 100))
                          div
                            span.text-dark= product.daban
                            small.text-dark &nbsp;Đã bán
            else
              #product-list-main.text-center.my-3
                img(src="/images/shop/62d2399b89039bd1dc90ca2d50d3e802.png", alt="noprodcut", width="120px")
                big.d-block Không tìm thấy sản phẩm nào
            if (sumProduct > productPerPage && products.length > 0)
              nav.mt-4
                ul.pagination.justify-content-center
                  li.page-item(class=page===1?'disabled':'')
                    a#page-prev.page-link
                      span &laquo;
                  each p in pageArr
                    li.page-item(class=p===page?'active':'')
                      a.page-main.page-link= p          
                  li.page-item(class=page===pageMax?'disabled':'')
                    a#page-next.page-link
                      span &raquo;

append script
  script(src="/scripts/customer/styleProduct.js")